*{
  padding: 0;
  margin: 0;
  font-family: sans-serif, serif;
}

body{
  padding: 0;
  margin: 0;
}


/* .btn-box{
  width: 100%;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  background-image: url('../assets/dti-bg.jpg');
  background-position: center;
  background-color: rgba(0, 0, 0, 0.7);
  background-repeat: no-repeat;
  background-size: cover;
  background-blend-mode: darken;
} */

.container{
  width: 100%;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  background-image: url('../assets/dti-bg.jpg');
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

.container .inner-con{
  width: 70%;
  margin: auto;
  height: 450px;
  display: grid;
  grid-template-columns: 1fr 1fr;
  background: rgba( 255, 255, 255, 0.90 );
  box-shadow: 0 8px 32px 0 rgba( 31, 38, 135, 0.37 );
  backdrop-filter: blur( 20.0px );
  -webkit-backdrop-filter: blur( 20.0px );
  border-radius: 10px;
  border: 1px solid rgba( 255, 255, 255, 0.18 );
}

.inner-con .wrapper{
  color: #000;
  padding: 10px;
  border-top: 0;
  border-left: 0;
  border-bottom: 0;
  border-right: solid 1px #fff;
  text-align: center;
}

.wrapper h1, .wrapper h2{
  margin: 15px 0;
}

.wrapper p{
  font-size: 16px;
  line-height: 24px;
  margin: 15px 0;
  text-align: center;
  word-wrap: break-word;
}

.wrapper small{
  line-height: 24px;
}

.btn-box{
  display: flex;
  justify-content: center;
  align-items: center;
}

.btn-box .user-btn, .btn-box .admin-btn{
  outline: none;
  padding: 12px;
  border: none;
  background-color: #2979FF;
  margin: 0 15px;
}

.user-btn a, .admin-btn a{
  text-decoration: none;
  color: #fff;
  font-size: 16px;
}

@media (max-width: 1000px) {
  .container .inner-con{
    width: 92%;
    display: flex;
    height: 90vh;
    flex-direction: column;
    justify-content: space-around;
    padding: 10px;
  }
  .wrapper{
    padding: 10px;
    width: 90%;
    margin: 20px auto;
    border: none;
    font-size: 15px;
  }
  .btn-box{
    width: 100%;
  }
}